{%extends 'base.html'%}


{%block content%}
{%include 'includes/header.html'%}<br>
  

<div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <form class="cell medium-5 grid-x grid-margin-x" method="POST" style="border: 1px solid #424242; padding: 2em; border-radius: 10px;">{%csrf_token%}
                <div class="cell medium-15">
                    <label>usuario:</label>
                    <div class="input-group">
                      <span class="input-group-label"></span>
                      {{form.username}}
                    </div> 
                    <div class="cell medium-15">
                        <label>contraseña:</label>
                        <div class="input-group">
                          <span class="input-group-label"></span>
                          {{form.password}}
                        </div>
             
                <div>
                    <button class="buttoon success button" >Ingresar</button>
                    
                </div>
            </div>
            
            </form>
        </div>


{%endblock content%}

